* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Images/background-concrete.png");
  background-color: #222222;
}

.home-content {
  position: relative;
  top: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.home-left {
  position: relative;
  left: -150px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  justify-content: space-around;
  margin: 0 25%;
  padding: 40px 30px;
  border: 4px solid;
  animation: border-animate 2s linear forwards;
  border-radius: 10px;
}

.home-left h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 80px;
  padding-bottom: 20px;
}

.home-left p {
  letter-spacing: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: transparent;
  animation: fade-text-in 2s linear 2s forwards;
}

@keyframes fade-text-in {
  0% {
    color: transparent;
  }
  50% {
    color: #fdad4f;
  }
  100% {
    color: #afafaf;
  }
}

/* ---------- About Me Border Animation ------------*/
@keyframes border-animate {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #fdad4f;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #fdad4f;
    border-right-color: #fdad4f;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #fdad4f;
    border-right-color: #fdad4f;
    border-bottom-color: #fdad4f;
    border-left-color: transparent;
  }
  100% {
    border-top-color: #fdad4f;
    border-right-color: #fdad4f;
    border-bottom-color: #fdad4f;
    border-left-color: #fdad4f;
  }
}

/* ---------- Nav Labels ------------*/
.nav-labels {
  position: relative;
  top: -45px;
  left: -140px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
}

.nav-label {
  background: #fdad4f;
  padding: 15px;
  margin: 22px 0;
  border-radius: 5px;
}

/* ---- Text Animation ----*/

.typing {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(27, end) forwards;
}

@keyframes typing {
  0% {
    transform: translateX(285px);
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* ------ Nav Hover Animations -------*/

@keyframes roll-in {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(1px);
  }
}

@keyframes roll-out {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(-150px);
  }
}

#home {
  transform: translateX(-150px);
}
#about {
  transform: translateX(-150px);
}
#skills {
  transform: translateX(-150px);
}
#experience {
  transform: translateX(-150px);
}
#contact {
  transform: translateX(-150px);
}

/* ----- Logo ----------*/

.face {
  width: 300px;
}

/* ------------- NAVIGATION BAR ---------------------*/

nav {
  background: #1a1a1a;
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

/* Top Section*/
.nav-top {
  background: rgb(12, 12, 12);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-text {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

/* Middle Section*/
.nav-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  padding: 20px 0;
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.social-icon {
  padding: 5px 0;
  margin-bottom: 10px;
}

.nav-icon:hover {
  color: #fdad4f;
}

/* Bottom Section*/
.nav-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---- MEDIA QUERIES ---------*/

/* -- Nav Lavels --*/
@media (max-width: 1800px) {
  .nav-labels {
    display: none;
  }
}

/* -- About Section Sizing -- */
@media (max-width: 1400px) {
  .home-left {
    left: 0px;
    top: -100px;
  }
}

@media (max-width: 1250px) {
  #subtext {
    width: 400px;
  }
}

@media (max-width: 700px) {
  .home-left h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .home-left p {
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: transparent;
    animation: fade-text-in 2s linear 2s forwards;
  }

  #subtext {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .home-left h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .home-left p {
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    color: transparent;
    animation: fade-text-in 2s linear 2s forwards;
  }

  #subtext {
    width: 200px;
  }
}
