* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Images/background-concrete.png");
  background-color: #222222;
}

.home-content {
  position: relative;
  top: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.home-left {
  position: relative;
  left: -500px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  justify-content: space-around;
  margin: 0 25%;
  padding: 40px 30px;
}

.skills {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-gap: 150px;
}

.skills div {
  animation: zoom-in 2s ease-in-out forwards;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ---------- Nav Labels ------------*/
.nav-labels {
  position: relative;
  top: -40px;
  left: -140px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
}

.nav-label {
  background: #fdad4f;
  padding: 15px;
  margin: 22px 0;
  border-radius: 5px;
}

/* ------ Nav Hover Animations -------*/

@keyframes roll-in {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(1px);
  }
}

@keyframes roll-out {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(-150px);
  }
}

#home {
  transform: translateX(-150px);
}
#about {
  transform: translateX(-150px);
}
#skills {
  transform: translateX(-150px);
}
#experience {
  transform: translateX(-150px);
}
#contact {
  transform: translateX(-150px);
}

/* ------------- NAVIGATION BAR ---------------------*/

nav {
  background: #1a1a1a;
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

/* Top Section*/
.nav-top {
  background: rgb(12, 12, 12);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-text {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

/* Middle Section*/
.nav-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  padding: 20px 0;
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.social-icon {
  padding: 5px 0;
  margin-bottom: 10px;
}

.nav-icon:hover {
  color: #fdad4f;
}

/* Bottom Section*/
.nav-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#html {
  width: 150px;
  height: 150px;
}
